* {
  box-sizing: border-box;
  background-color: rgb(206, 209, 209);
}

body {
  margin: 0;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

.navbar {
  /* max-height: 35px;
  width: 100%; */
  /* box-shadow: 2px 2px 2px rgb(38, 37, 37); */
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.navbar-logo {
  max-width: 100px;
}

.hero-image-container {
display: flex;
/* align-items: center;
justify-content: center; */
flex-direction: column;
padding-top: 5%
}

.hero-photo-grid {
  height: 75%;
  width: 75%;
  align-self: center;
}

.hero-text-container {
  font-family: Poppins;
  padding-left: 5%;
  padding-top: 3%;
}

.hero-title {
  margin-bottom: 16px;
}

.hero-description {
  margin-top: 0;
}

.card-container {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.card-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 5%;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}